/*  your css code here. If applicable */
/*  your css code here. If applicable */
.imageContainer{
	display:grid;
	grid-template-rows:1100px 1100px;
}
div div{
	display:grid;
	
	grid-template-columns:200px 600px 200px;
}
div div div{
	height: auto;
}
img{
	width: 200px;
	height: 100%;
	object-fit: cover;
}